@import "tailwindcss";

body {
  @apply bg-gray-50;
}

.header {
  @apply flex items-center justify-between w-full py-4 px-8 bg-gray-100;
  h1 {
    @apply text-2xl font-bold;
  }
}
#search-root {
  @apply flex justify-center w-full;
}

.main-wrapper {
  @apply bg-white flex flex-col justify-between items-center w-full px-8 pb-12 pt-2 gap-4 max-w-6xl mx-auto;
}

.page-section {
  @apply my-8 mx-4 sm:mx-12;
  h2 {
    @apply font-bold border-b-1 border-gray-300 mb-4;
  }
}

.topic-list {
  @apply flex flex-wrap gap-2;
  li {
    a {
      @apply inline-block border-1 border-gray-300 shadow-sm rounded-xs p-4 hover:border-gray-500 transition;
    }
  }
}

/* .interest-box {
  @apply border-1 border-gray-300 shadow-sm rounded-xs p-4 hover:border-gray-500 transition;
} */

.content-layout {
  @apply sm:mx-12 mx-8 my-4;
  hr {
    @apply my-8 text-gray-300;
  }
  h1 {
    @apply text-3xl font-bold mt-8 mb-4;
  }
  h2 {
    @apply text-xl font-bold mt-6 mb-3;
  }

  .wrapped-content {
    a {
      @apply text-blue-600 underline;
    }

    ul {
      @apply list-disc list-inside my-4;
      li {
        @apply mb-2;
      }
    }
  }
}
